 body{
 background: radial-gradient(white,grey, black);

}
h2.blocktext{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border:solid;
  width:6em;
}

a{
text-decoration: none;
color: black;
}
IMG.displayed{

display: block;
margin-left: auto;
margin-right: auto;

}

#haut{
max-width:10%;
font-size:10px;
border:dashed;
border-width:1px;
margin-left:95%;
}
#haut:hover{
  max-width: 30vh;
  width:auto;
  height:auto;
  border:solid;
  border-width: 1px;
  box-shadow: 1px 1px 22px black;

}
#fleche{
margin-left: 40%;
margin-right: 25%;
}
#P{
border-left:solid;
border-right:solid;
border-color: white;
border-width:1px;
width:10%;
display:inline-block;
background-color: black;
position: sticky;
top:1%;
z-index: 1;
}
#P:hover{
box-shadow: 1px 1px 22px black;
z-index: 1;
}

#L{
  border-left:solid;
  border-right:solid;
  border-color: white;
  border-width:1px;
  width:10%;
  display:inline-block;
  float:right;
  background-color: black;
  position: sticky;
  top:1%;
  z-index: 1;
}
#L:hover{

box-shadow: 1px 1px 22px black;
z-index: 1;
}
.gris{

color:grey;

}
.lien{

text-decoration: underline dotted;
text-align: center;

}
.lien:hover{
font-weight: bold;

text-shadow:0 0 2px purple,0 0 30px purple,5px 9px 5px #333, 0 0 150px purple;color:purple;
color:purple;

}
.blocktext{
text-align: center;

}
.nav{
  color:white;
  text-align: center;
}
.navigation{
text-align:center;
position: sticky;
top:1%;
z-index: 1;
}
.box{
display:inline;
text-decoration: underline dotted;

}
.box:hover{
font-weight: bold;
width:auto;
height:auto;
text-shadow:0 0 2px purple,0 0 30px purple,5px 9px 5px #333, 0 0 150px purple;color:purple;
color:purple;

}
.Présentation{
position:relative;
margin-top:2.5%;
left:25.8%;
width:48%;
height:auto;
border:solid;
background-color:white;
}
.Expérience{
position:relative;
margin-top:2.5%;
left:25.8%;
width:48%;
height:auto;
border:solid;
background-color:white;
}
.Formation{
position:relative;
margin-top:2.5%;
left:25.8%;
width:48%;
height:auto;
border:solid;
background-color:white;
}
.Compétences{
position:relative;
left:25.8%;
margin-top:2.5%;
width:48%;
height:auto;
border:solid;
background-color:white;
}
.informations{
position:relative;
left:25.8%;
margin-top:2.5%;
width:48%;
height:auto;
border:solid;
background-color:white;
}
.Centres{
position:relative;
left:25.8%;
margin-top:2.5%;
width:48%;
width:48%;
height:auto;
border:solid;
margin-bottom:2.5%;
background-color:white;
}
